<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>About Us</title>
	<link rel="stylesheet" href="style.css">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<link href={{"https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"}} rel="stylesheet">
</head>

<body>

<header>
<h2 class="logo">T A S E</h2>
<nav class ="navigation">
		<a href="Home">Home</a>
		<a href="">About</a>
		<a href="Contact">Contact</a>
		<a href="Quiz">Questionnire</a>
		<a class="btnLogin-popup" href="login">Login</a>
</nav>
</header>
    <section>
        <h1>About Us</h1>
        <p>At TASE, we are dedicated to delivering valuable insights and forecasts to help
            you understand the future performance of your small business or startup. Recognizing
            the significance of your enterprise, we utilize the latest and most advanced technology
            to provide you with up-to-date information and insights.</p>
        <h1>Why Us</h1>
        <p>At TASE, we utilize the latest advancements in technology, such as machine learning and
            artificial intelligence, to deliver highly sophisticated models for forecasting success.
            Our team of experts leverages their knowledge of data science to provide you with the
            most accurate predictions and insights available, enabling you to make well-informed
            decisions for your business. We are proud to be recognized as a leading platform in the
            provision of these valuable services.</p>
        <h1>Answers you are looking for</h1>
        <p>At TASE, all of our predictions are tailored specifically to you, based on the data that
            you provide. Our unique approach ensures that each answer we provide is customized to meet
            your individual needs and requirements</p>
        <h1>Security and privacy</h1>
        <p>At TASE, we prioritize the protection of your data and take data privacy and security very
            seriously. Our commitment to these matters is further reinforced by legal obligations that
            require us to have limited access to your information. We recognize the importance of your
            financial data and take every measure necessary to ensure its safety and security. All of the
            information you provide to us is processed in a secure manner and is not stored at any of our
            data centers, providing you with peace of mind and the assurance that your information remains
            confidential at all times.</p>
    </section>

</body>
</html>