<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>Contact Us</title>
		<link rel="stylesheet" href="style.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='contact.css') }}">
		<link href={{"https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"}} rel="stylesheet">
	</head>

	<body>

		<header>
		<h2 class="logo"><a href="home">TASE</a></h2>
		<nav class ="navigation">
				<a href="home">Home</a>
				<a href="about">About</a>
				<a class="btnLogin-popup" href='signup'>Sign up</a>
				<a class="btnLogin-popup" href="login">Login</a>
		</nav>
		</header>
		<div class="container">

		<div class="sign-section">
<form action="home">
			<h2>Feedback Form</h2>
			<br>
				<label>Email</label>
				<input type="email" placeholder="Enter your Email here" class="form-control" name="email" required>

				<label>Comments</label>
				<input type="text" placeholder="Enter your Feedback here" class="form-control" name="comments" required>

				<button type="submit" class="btn">Submit</button>
</form>
		</div>
		</div>
	</body>
</html>