<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>website with log in and registration</title>
	<link rel="stylesheet" href="style.css">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<link href={{"https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"}} rel="stylesheet">
</head>

<body>

<header>
<h2 class="logo"><a href="home">TASE</a></h2>
<nav class ="navigation">
		<a href="home">Home</a>
		<a href="about">About</a>
		<a href="contact">Contact</a>
<!--		<a href='quiz'>Questionnaire</a>-->
		<a class="btnLogin-popup" href='signup'>Sign up</a>
		<a class="btnLogin-popup" href="login">Login</a>
</nav>
</header>
	<div class="container">

		<div class="sign-section">

			<h2>Questionnaire</h2><br>


			<form action="/predict" method="POST" class="quiz">
				<br>
				<label><h5>R&D Spend</h5></label>
				<input name="quiz1" type="text" placeholder="" class="form-control">
			
				<label><h5>Administration</h5></label>
				<input name="quiz2" type="text" placeholder="" class="form-control">
			
				<label><h5>Marketing Spend</h5></label>
				<input name="quiz3" type="text" placeholder="" class="form-control">
			
				<label><h5>Quiz4</h5></label>
				<input name="quiz4" type="text" placeholder="" class="form-control">
			
				<label><h5>Quiz5</h5></label>
				<input name="quiz5" type="text" placeholder="" class="form-control">
			
				<label><h5>Quiz6</h5></label>
				<input name="quiz6" type="text" placeholder="" class="form-control">
			
				<label><h5>Quiz7</h5></label>
				<input name="quiz7" type="text" placeholder="" class="form-control"><br>
			
				<input type="submit" value="Predict" class="btn">
			</form>
			
            <br>
			<script>console.log(document.getElementById("getValues").value)</script>

			<h4 align="center">{{pred}}</h4>


		</div>


	</div>




</body>
</html>